[submodule "DeDRM_tools"]
	path = DeDRM_tools
	url = https://github.com/noDRM/DeDRM_tools.git
[submodule "KindleUnpack"]
	path = KindleUnpack
	url = https://github.com/kevinhendricks/KindleUnpack.git
